<a routerLink="/cadastro">Novo Processo (página em desenvolvimento)</a> <br />
<div>
  Status:
  <select name="select" [(ngModel)]="statusFiltro">
    <option [ngValue]="null"></option>
    <option [ngValue]="true">Ativo</option>
    <option [ngValue]="false">Inativo</option>
  </select>
  <br />
  Descrição: <input type="text" [(ngModel)]="descricaoFiltro" />
  <br />
  Código: <input type="text" [(ngModel)]="codigoFiltro" />
</div>

<br />
<processo-card *ngFor="let processo of listaFiltro3" [processo]="processo"></processo-card>
{{ listaFiltro3.length ? listaFiltro3.length : "Ops, parece que sua pesquisa não tem resultados correspondetes." }}